# Virtual ENV
venv*/

# Django Settings / ENV
homedashboard_django/settingsprod.py
.env

# Media / Static / ETC
error_log.txt
logs/
staticfiles/
media/

# Other Config
homedashboard-django-f66383edda57.json

# Linx specific
*.swp