# Virtual ENV
venv*/

# Django Settings / ENV
homedashboard_django/settingsprod.py
.env
*.log
*.pot
*.pyc

# Media / Static / ETC
error_log.txt
logs/
staticfiles/
media/

# Other Config
homedashboard-django-f66383edda57.json

# Linx specific
*.swp

# Byte-compiled / cache
__pycache__/
*.py[cod]

# VSCode or JetBrains IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db